<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.actionnation.actionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityUserStory"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab"></activity>
        <activity
            android:name=".ActivityYourTeam"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab" />
        <activity
            android:name=".ActivityProfileComplete"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMainProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityYourStory"
            android:label="@string/title_activity_your_story"
            android:parentActivityName=".ActivityMainObjectives"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityRevealStory"
            android:label="@string/title_activity_reveal_story"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityExperienceNature"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityExcerciseEat"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityOurBelief"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityExerciseNew"
            android:parentActivityName=".ActivityExcerciseEat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HappinessContent"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RespectWork"
            android:parentActivityName=".ActivityIntegrityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab" />
        <activity
            android:name=".ActivityEatHealthy"
            android:parentActivityName=".ActivityExcerciseEat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHappiness"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_TrueLearning"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityIntegrityMain"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTimerWindow"
            android:parentActivityName=".HabitTraking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAttention"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityReading"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityExercise"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityVisualization"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeditationActivity"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityIntegrity"
            android:parentActivityName=".ActivityIntegrityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab" />
        <activity
            android:name=".ActivityMainObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab" />
        <activity
            android:name=".HabitTraking"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/AppFab" />
        <activity
            android:name=".PersondetailsActivity"
            android:parentActivityName=".ActivityMainObjectives"
            android:screenOrientation="portrait" />
        <activity android:name=".displaydata" />
        <activity android:name=".AdminActionQuestionnare" />
        <activity android:name=".knowyourcareer" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".TestCoding">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="actionnation.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nlw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadershipInitiative"
            android:screenOrientation="portrait" />
        <activity android:name=".adminleadership" />
        <activity
            android:name=".ShowImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CertificateGenerator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneChallenge_Expand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Detail_Challenges"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Challenges"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Education"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DbMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoFbLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedirectFromMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name=".ToastReceiver"
            android:process=":remote" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>